[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/ldeso/hugo-flex.git
[submodule "themes/tailwind"]
	path = themes/tailwind
	url = https://github.com/tomowang/hugo-theme-tailwind.git
